<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>团队协作 代码check in</title>

    <!-- Bootstrap -->
    <link href="http://holmesycl.com/css/bootstrap.min.css" rel="stylesheet" />
     <!-- ladda -->
	<link href="http://holmesycl.com/css/ladda.min.css" rel="stylesheet" />
	<link href="http://holmesycl.com/css/ladda-themeless.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://holmesycl.com/js/html5shiv.min.js"></script>
      <script src="http://holmesycl.com/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<nav class="navbar navbar-inverse" style="border-radius: 0;">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/}" href="#">Home</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="#bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a th:href="@{/code}">代码</a></li>
	        <li><a th:href="@{/script}">脚本</a></li>
	        <li><a th:href="@{/mail}">邮件</a></li>
	      </ul>
	      <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
       	 	<button type="submit" class="btn btn-default" style="background-color:transparent; border: none;color: #9d9d9d;" role="button">Logout</button>
     	  </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${#authentication.name}"></span><span class="caret"></span></a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
  	<div class="container" style="margin-bottom: 10px;">
  		<form id="scriptForm" th:action="@{/checkin/saveScript}" method="post">
		  <div class="form-group">
		    <textarea class="form-control" name="scripts" rows="20"></textarea>
		  </div>
		   <button class="ladda-button" data-color="purple" id="scriptBtn" type="submit"> 确定  </button>
		</form>
  	</div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://holmesycl.com/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://holmesycl.com/js/bootstrap.min.js"></script>
    <!-- ladda -->
    <script src="http://holmesycl.com/js/spin.min.js"></script>
    <script src="http://holmesycl.com/js/ladda.min.js"></script>
    <script src="http://holmesycl.com/js/ladda.jquery.min.js"></script>
    <!-- app -->
    <script src="http://holmesycl.com/js/script.js"></script>

  </body>
</html>